@use 'src/styles/breakpoints';
@use 'src/styles/colors';

.name {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.path {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.row {
  display: flex;
  align-items: center;
}

.connector {
  width: 120px;
  height: 16px;
  background-color: colors.$background-connector;
  border-top: 2px solid colors.$secondary;
  border-bottom: 2px solid colors.$secondary;
  opacity: 0.4;

  &.active {
    opacity: 1;
  }
}

@media screen and (max-width: breakpoints.$md) {
  .row,
  .path {
    flex-direction: column;
  }

  .connector {
    width: 16px;
    height: 36px;
  }
}

