@use 'src/styles/colors';
@use 'src/styles/mixins';

.pointsSummary {
  @include mixins.flex-center;
  flex-direction: column;
  padding: 16px 24px;
  border: 1px solid colors.$border;
  background-color: colors.$background;
  text-align: center;
  font-size: 1.6rem;
}

.subtitle {
  color: colors.$primary;
}

