@use 'src/styles/colors';

.root {
  margin: 0 auto;
  border: 1px solid colors.$border;
  box-shadow: 0 0 10px -5px colors.$primary;
  padding: 20px;
  background-image: url(src/assets/talent-calc-bg.png);
  background-size: cover;
}

.heading {
  padding: 5px 0;
  background-color: colors.$background-secondary;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 400;
}

.treeContainer {
  display: flex;
  align-items: center;
  padding: 75px 0;
  height: 100%;
}

.tree {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

