@use "src/styles/colors";

.root {
  margin: 0 auto;
  border: 1px solid colors.$border;
  box-shadow: 0 0 10px -5px colors.$primary;
  padding: 20px;
  background-image: url(src/assets/talent-calc-bg.png);
  background-size: cover;
}

.treeContainer {
  display: flex;
  align-items: center;
  padding: 75px 0;
  height: 100%;
}

// summary

.pointsSummary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 50px;
  padding: 16px 24px;
  border: 1px solid colors.$border;
  background-color: colors.$background-app;
  text-align: center;
  font-size: 1.6rem;
}

.subtitle {
  color: colors.$primary;
}


// tree

.tree {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.row {
  display: flex;
  align-items: center;
  gap: 45px;
}

.pathName {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.path {
  display: flex;
  gap: 120px;
}
