@use 'src/styles/breakpoints';
@use 'src/styles/colors';
@use 'src/styles/mixins';

.root {
  margin: 0 auto;
  border: 1px solid colors.$border;
  box-shadow: 0 0 10px -5px colors.$primary;
  padding: 20px;
  background-image: url(src/assets/talent-calc-bg.png);
  background-size: cover;
}

.heading {
  padding: 5px 0;
  background-color: colors.$background-secondary;
  text-align: center;
  text-wrap: balance;
  font-size: 1.75rem;
  font-weight: 400;
}

.pathContainer {
  @include mixins.flex-center;
  flex-wrap: wrap;
  padding: 75px 0;
  row-gap: 60px;
  height: 100%;
}

.pathList {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.summaryMargin {
  margin: 0 50px;
}

@media screen and (max-width: breakpoints.$md) {
  .pathList {
    flex-direction: row;
    justify-content: center;
  }
}

