@use 'styles/colors';
@use 'styles/fonts';
@use 'styles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  font-family: fonts.$primary;
  color: colors.$text;
  background-color: colors.$background;
}

body {
  @include mixins.flex-center;
  margin: 0 auto;
  height: 100dvh;
}
